<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find av_lxo_description)/urdf/cameras.xacro"/>
  <xacro:include filename="$(find av_lxo_description)/urdf/lidar.xacro"/>
  <xacro:include filename="$(find av_lxo_description)/urdf/radar.xacro"/>
  <xacro:include filename="$(find av_lxo_description)/urdf/imu.xacro"/>
  <xacro:include filename="$(find av_lxo_description)/urdf/gps.xacro"/>
  <xacro:include filename="$(find av_lxo_description)/urdf/oxts.xacro"/>

  <!-- DCA ROOFBOX CAMERA MOUNTS -->
  <xacro:camera_mount name="camera_fsp_l_mount" parent="${roof_datum}">
    <origin xyz="-0.11015 0.3 -0.06242" rpy="0 0.087266 0"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_fsp_l_sensor" parent="camera_fsp_l_mount">
    <origin xyz="0 0 0" rpy="1.5708 3.1415 1.5708"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_fsp_l_optical" parent="camera_fsp_l_sensor">
    <origin xyz="-0.0159515 -0.0271456 0.114486" rpy="0.0368413 0.00292173 -0.009337"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_fsp_r_mount" parent="${roof_datum}">
    <origin xyz="-0.11015 -0.3 -0.06242" rpy="0 0.087266 0"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_fsp_r_sensor" parent="camera_fsp_r_mount">
    <origin xyz="0 0 0" rpy="1.5708 3.1415 1.5708"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_fsp_r_optical" parent="camera_fsp_r_sensor">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_rspf_l_mount" parent="${roof_datum}">
    <origin xyz="-0.69015 -0.45 -0.00242" rpy="0 0.087266 -1.151917"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_rspf_l_sensor" parent="camera_rspf_l_mount">
    <origin xyz="0 0 0" rpy="1.5708 3.1415 1.5708"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_rspf_l_optical" parent="camera_rspf_l_sensor">
    <origin xyz="-0.0317939 -0.0155957 0.0925816" rpy="0.0169439 -0.00863387 0.0310647"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_rspf_r_mount" parent="${roof_datum}">
    <origin xyz="-0.781503 -0.490673 -0.00242" rpy="0 0.087266 -1.151917"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_rspf_r_sensor" parent="camera_rspf_r_mount">
    <origin xyz="0 0 0" rpy="1.5708 3.1415 1.5708"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_rspf_r_optical" parent="camera_rspf_r_sensor">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_rspr_l_mount" parent="${roof_datum}">
    <origin xyz="-0.97015 -0.490673 -0.00242" rpy="0 0.087266 -1.989675"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_rspr_l_sensor" parent="camera_rspr_l_mount">
    <origin xyz="0 0 0" rpy="1.5708 3.1415 1.5708"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_rspr_l_optical" parent="camera_rspr_l_sensor">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_rspr_r_mount" parent="${roof_datum}">
    <origin xyz="-1.061503 -0.450 0.00242" rpy="0 0.087266 -1.989675"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_rspr_r_sensor" parent="camera_rspr_r_mount">
    <origin xyz="0 0 0" rpy="1.5708 3.1415 1.5708"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_rspr_r_optical" parent="camera_rspr_r_sensor">
    <origin xyz="-0.112357 -0.00142148 0.0607117" rpy="-0.0166038 0.000711473 0.0351392"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_rsp_l_mount" parent="${roof_datum}">
    <origin xyz="-1.11015 -0.3 0.00242" rpy="0 0.087266 3.141592654"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_rsp_l_sensor" parent="camera_rsp_l_mount">
    <origin xyz="0 0 0" rpy="1.5708 3.1415 1.5708"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_rsp_l_optical" parent="camera_rsp_l_sensor">
    <origin xyz="0.0182792 0.00339082 0.0755967" rpy="-0.0296637 -0.00489342 -0.0013936"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_rsp_r_mount" parent="${roof_datum}">
    <origin xyz="-1.11015 0.3 0.00242" rpy="0 0.087266 3.141592654"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_rsp_r_sensor" parent="camera_rsp_r_mount">
    <origin xyz="0 0 0" rpy="1.5708 3.1415 1.5708"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_rsp_r_optical" parent="camera_rsp_r_sensor">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_lspr_l_mount" parent="${roof_datum}">
    <origin xyz="-1.061503 0.450 0.00242" rpy="0 0.087266 1.989675"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_lspr_l_sensor" parent="camera_lspr_l_mount">
    <origin xyz="0 0 0" rpy="1.5708 3.1415 1.5708"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_lspr_l_optical" parent="camera_lspr_l_sensor">
    <origin xyz="0.101295 0.0114506 0.025199" rpy="-0.0143108 -0.00899993 -0.0256042"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_lspr_r_mount" parent="${roof_datum}">
    <origin xyz="-0.97015 0.490673 -0.00242" rpy="0 0.087266 1.989675"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_lspr_r_sensor" parent="camera_lspr_r_mount">
    <origin xyz="0 0 0" rpy="1.5708 3.1415 1.5708"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_lspr_r_optical" parent="camera_lspr_r_sensor">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_lspf_l_mount" parent="${roof_datum}">
    <origin xyz="-0.781503 0.490673 -0.00242" rpy="0 0.087266 1.151917"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_lspf_l_sensor" parent="camera_lspf_l_mount">
    <origin xyz="0 0 0" rpy="1.5708 3.1415 1.5708"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_lspf_l_optical" parent="camera_lspf_l_sensor">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_lspf_r_mount" parent="${roof_datum}">
    <origin xyz="-0.69015 0.45 -0.00242" rpy="0 0.087266 1.151917"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_lspf_r_sensor" parent="camera_lspf_r_mount">
    <origin xyz="0 0 0" rpy="1.5708 3.1415 1.5708"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_lspf_r_optical" parent="camera_lspf_r_sensor">
    <origin xyz="-0.00129624 -0.00739873 0.116781" rpy="0.00287316 -0.000663669 -0.0262024"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_tele1_mount" parent="${roof_datum}">
    <origin xyz="-0.11015 -0.120 -0.06242" rpy="0 0 0"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_tele2_mount" parent="${roof_datum}">
    <origin xyz="-0.11015 -0.205 -0.06242" rpy="0 0 0"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_ir1_mount" parent="${roof_datum}">
    <origin xyz="-0.11015 0.120 -0.06242" rpy="0 0 0"/>
  </xacro:camera_mount>

  <xacro:camera_mount name="camera_ir2_mount" parent="${roof_datum}">
    <origin xyz="-0.11015 0.205 -0.06242" rpy="0 0 0"/>
  </xacro:camera_mount>

  <!-- IMU -->
  <xacro:imu imu="imu_rear_mount" parent="${roof_datum}">
    <origin xyz="-2.67 0.0 -1.102" rpy="0.0 3.14159 -1.5708"/>
  </xacro:imu>

  <xacro:imu imu="imu_rear_sensor" parent="imu_rear_mount">
    <origin xyz="0.0 0.0 0.0" rpy="3.14159 0.0 0.0 "/>
  </xacro:imu>

  <xacro:imu imu="imu_fsp_r_mount" parent="${roof_datum}">
    <origin xyz="-0.23515 -0.355 -0.05442" rpy="0.0 3.14159 -1.5708"/>
  </xacro:imu>

  <xacro:imu imu="imu_fsp_r_sensor" parent="imu_fsp_r_mount">
    <origin xyz="0.0 0.0 0.0" rpy="3.14159 0.0 0.0"/>
  </xacro:imu>

  <!-- GPS -->
  <xacro:gps name="gps_antenna_right_mount" parent="${roof_datum}">
    <origin xyz="${gps_antenna_base_left_x} ${-gps_antenna_base_left_y} ${gps_antenna_base_left_z}" rpy="0 0 0"/>
  </xacro:gps>

  <xacro:gps name="gps_antenna_right_sensor" parent="gps_antenna_right_mount">
    <origin xyz="0.0 0.0 ${gps_antenna_sensor_z}" rpy="0 0 0"/>
  </xacro:gps>

  <xacro:gps name="gps_antenna_left_mount" parent="${roof_datum}">
    <origin xyz="${gps_antenna_base_left_x} ${gps_antenna_base_left_y} ${gps_antenna_base_left_z}" rpy="0 0 0"/>
  </xacro:gps>

  <xacro:gps name="gps_antenna_left_sensor" parent="gps_antenna_left_mount">
    <origin xyz="0.0 0.0 ${gps_antenna_sensor_z}" rpy="0 0 0"/>
  </xacro:gps>

  <!-- LIDAR -->
  <xacro:lidar name="lidar_left_mount" parent="${roof_datum}">
    <origin xyz="-0.03015 0.720 -0.22242" rpy="-0.087266 0.087266 0.6562438"/>
  </xacro:lidar>

  <xacro:lidar name="lidar_left" parent="lidar_left_mount">
    <origin xyz="0.0288801 -0.0294088 0.110552" rpy="0.0499763 0.0151241 -0.00307838"/>
  </xacro:lidar>

  <xacro:lidar name="lidar_right_mount" parent="${roof_datum}">
    <origin xyz="-0.03015 -0.720 -0.22242" rpy="0.087266 0.087266 -0.6562438"/>
  </xacro:lidar>

  <xacro:lidar name="lidar_right" parent="lidar_right_mount">
    <origin xyz="0.00939891 0.0238397 0.0606727" rpy="-0.0556599 0.00727062 0.000273152"/>
  </xacro:lidar>

  <xacro:lidar name="lidar_ouster_top" parent="${roof_datum}">
    <origin xyz="-0.65855 0 0.21849" rpy="0 -0.017453 0"/>
  </xacro:lidar>

  <!-- RADAR -->
  <xacro:radar name="radar_roof_left_front_mount" parent="${roof_datum}">
    <origin xyz="-0.30185 0.48847 -0.02042" rpy="3.141592654 0 1.33657"/>
  </xacro:radar>

  <xacro:radar name="radar_roof_right_front_mount" parent="${roof_datum}">
    <origin xyz="-0.30185 -0.48847 -0.02042" rpy="0 0 -1.31605"/>
  </xacro:radar>

  <xacro:radar name="radar_roof_left_rear_mount" parent="${roof_datum}">
    <origin xyz="-1.12515 0.410 0.00258" rpy="0 0 2.3658"/>
  </xacro:radar>

  <xacro:radar name="radar_roof_right_rear_mount" parent="${roof_datum}">
    <origin xyz="-1.12515 -0.410 0.00258" rpy="3.141592654 0 -2.3606"/>
  </xacro:radar>

  <xacro:radar name="radar_bumper_front_left_mount" parent="${front_bumper}">
    <origin xyz="-0.16666 0.58893 0.24618" rpy="0 0 0.645772"/>
  </xacro:radar>

  <xacro:radar name="radar_bumper_front_centre_mount" parent="${front_bumper}">
    <origin xyz="-0.07709 0 0.34618" rpy="0 0 0"/>
  </xacro:radar>

  <xacro:radar name="radar_bumper_front_right_mount" parent="${front_bumper}">
    <origin xyz="-0.16666 -0.58893 0.24618" rpy="3.141592654 0 -0.645772"/>
  </xacro:radar>

  <xacro:radar name="radar_bumper_rear_centre_mount" parent="base_link">
    <origin xyz="-1.04 0 0.16" rpy="0 0 3.141592654"/>
  </xacro:radar>
</robot>
